/* 初始化 */

button,
a {
    cursor: pointer;
    text-decoration: none;
}

body {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    white-space: nowrap;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/* 表 */

form * {
    /* border: 1px solid #eee; */
    font-size: 12px;
    padding: 0px;
}

table {
    width: 100%;
}

.td_container {
    height: 100%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.td_container * {
    border: 0px;
    text-align: center;
}

.edit {
    background-image: url(../images/edit.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-left: 10px;
}

.insert {
    cursor: pointer;
    color: rgb(224, 17, 17);
}

.insert:hover {
    background-color: rgb(152, 197, 68);
    color: white;
}


/* 模式 */

.model_area {
    width: 100%;
    height: 100vh;
}

.block_area {
    width: 100%;
    height: 65px;
}

.normal_container,
.login_model_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search {
    margin-top: 20px;
    height: 20%;
    border-radius: 5px;
    width: 880px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.search_input_container {
    margin-top: 10px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search_input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.select {
    display: flex;
    list-style: none;
    height: 100%;
    width: 40%;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: row;
}

.select a:hover {
    border-radius: 2px;
    background-color: rgb(185, 118, 118);
}

.select a {
    transition: all .5s;
}

.select_active {
    border-radius: 2px;
    background-color: rgb(185, 118, 118);
}

.select a {
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
}

.search_input span:last-of-type {
    color: rgb(231, 20, 20);
    height: 18px;
    width: 20px;
    /* width: 100%; */
    /* height: 100%; */
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: .5px solid #767676;
    display: block;
    border: 0;
    background-color: rgb(196, 60, 67);
    cursor: pointer;
}

.btn {
    outline: none;
    border-radius: 0;
    border: 0;
    border-width: 2px;
    height: 18px;
    width: 100%;
}

.location {
    width: 100%;
    height: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
}

.search_list {
    /* margin-top: 20px; */
    /* margin-bottom: 5%; */
    padding: 5px;
    border-radius: 5px;
    /* width: 60%; */
    width: 880px;
    height: 90%;
    margin: auto;
}

.login_model_container {
    width: 100%;
    height: 100%;
    background: rgb(185, 118, 118);
}


/* 导航栏 */

header {
    z-index: 1;
    height: 55px;
    width: 100%;
    background-color: rgba(169, 187, 172, .5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    padding: 5px;
    top: 0;
    position: fixed;
}

header>a {
    margin-right: 15%;
    font-weight: bolder;
}

.model {
    width: 30%;
    background-size: cover;
    height: 100%;
    margin-right: 15%;
}

.nav {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav a {
    font-weight: bolder;
    transition: all .5s;
    padding: 5px;
    white-space: nowrap;
}

.nav a:hover {
    border-bottom: 2px solid rosybrown;
}


/* 登录提示 */

.login_tip {
    width: 294px;
    height: 108px;
    display: flex;
    flex-direction: column;
    background-color: #E3EEFF;
    position: absolute;
    border: 1px solid #95B8E7;
    border-radius: 2px;
    overflow: hidden;
    padding: 2px;
}

.login_tip_container {
    padding: 5px;
    width: 280px;
    font-size: 14px;
    height: 70px;
    margin: auto;
    background-color: #FFFFFF;
}

.login_tip_button {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_tip_button input {
    outline: brown;
    width: 60px;
    border: 1px solid #BBBBBB;
    height: 20px;
    border-radius: 2px;
    background-color: #F7F7F7;
}


/*提示背景*/

.background {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100%;
    background-color: rgba(100, 100, 100, .5);
}

.z1 {
    z-index: 999;
}

.z2 {
    z-index: 998;
}

.z0 {
    z-index: -1;
    opacity: 0;
}


/* 加载 */

.loading {
    width: 80px;
    height: 80px;
    margin: auto;
    transition: all 5s;
    transform: rotate(0deg);
    animation: load 5s infinite;
    -webkit-animation: loading 5s infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.loading div {
    width: 40px;
    float: left;
    height: 40px;
}

.loading div:nth-of-type(1) {
    background-color: rgb(10, 250, 50);
    border-radius: 25px 25px 0px 25px;
    transform: scale(.9);
    box-shadow: 0px 0px 50px rgb(134, 122, 122);
}

.loading div:nth-of-type(2) {
    background-color: rgb(253, 2, 2);
    border-radius: 25px 25px 25px 0px;
    box-shadow: 0px 0px 50px rgb(95, 31, 31);
    transform: scale(.9);
}

.loading div:nth-of-type(3) {
    background-color: rgb(9, 174, 250);
    border-radius: 25px 0px 25px 25px;
    box-shadow: 0px 0px 50px rgb(77, 165, 42);
    transform: scale(.9);
}

.loading div:nth-of-type(4) {
    background-color: rgb(250, 3, 217);
    border-radius: 0px 25px 25px 25px;
    box-shadow: 0px 0px 50px rgb(99, 42, 165);
    transform: scale(.9);
}

.change_bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.change_bar input {
    height: 100%;
    width: 100%;
    border: 0;
    display: block;
    border-radius: 0px;
    outline: none;
}

.change_btn {
    cursor: pointer;
    width: 30%;
    background-color: rgb(19, 226, 216);
}

.change_input {
    text-align: center;
}

@media screen and (max-width:800px) {
    .td_container i {
        display: none;
    }
    .normal_container {
        align-items: flex-start;
        /* padding-left: 10%; */
    }
    .login_model_container {
        align-items: flex-start;
        /* padding-left: 10%; */
    }
    .td_container {
        justify-content: center;
    }
    .address {
        display: none;
    }
    .phone_number {
        display: none;
    }
    .remark {
        display: none;
    }
    .fomat_width {
        width: 380px;
    }
    /* .search{
        width: 380px;
    } */
}